<div>
  <div>
    <header>
        <div class="navbar navbar-dark bg-dark">
            <div class="container">
                <div class="text-center clWhite wd100">Advantage Club</div>
            </div>
        </div>
    </header>
</div>
  <component-1></component-1>
<footer id="footer">
  <section class="section swatch-black footerInnerParentContainer">
  <ul class="pull-left FaqAndAboutUsIcon">
    <li><a href="javascript:void(0)">FAQ</a></li>
  </ul>
   <ul class="pull-left socialMediaIconsInFooter" style="padding-top:3px;">
      <li>
        <a href="https://www.facebook.com/advantageclubindia" target="_blank" style="background-color: rgb(0, 60, 119); border-radius: 25px; padding-left: 17px; padding-right: 17px;" data-iconcolor="#6999D1">
          <i class="fa fa-facebook" style="color: rgb(255, 255, 255);"> </i>
        </a>
      </li>

      <li style="padding: 0 0 0 10px">
        <a href="https://www.linkedin.com/company/work-advantage" target="_blank" style="background-color: rgb(0, 60, 119); border-radius: 25px;" data-iconcolor="#6999D1">
          <i class="fa fa-linkedin" style="color: rgb(255, 255, 255);"></i>
        </a>
      </li>

      <li style="padding: 0 0 0 10px">
        <a href="https://twitter.com/myadvantageclub" target="_blank" style="background-color: rgb(0, 60, 119); border-radius: 25px; width: 44px;" data-iconcolor="#6999D1">
          <i class="fa fa-twitter" style="color: rgb(255, 255, 255);"></i>
        </a>
      </li>
    </ul>
  <ul class="pull-right playStoreIconsBusinessPrivacyTermsContactLinkContainerInFooter">
   <ul class="pull-right playStoreIconsBusinessPrivacyTermsContactLinkInnerContainerInFooter">
   <li class="appStoreIcon">
      <a target="_blank" class="" href="https://itunes.apple.com/us/app/work-advantage/id1003770310?mt=8">
           <img width="90px" src="https://cdn2.workadvantage.in/images/img/image/19647/3c9c0eb512.svg" alt="logo" target="_blank" >
       </a>
   </li>
   <li class="googlePlayIcon">
      <a target="_blank" class="" href="https://play.google.com/store/apps/details?id=activity.workadvantage.com.workadvantage" style="margin-top:-10px">
        <img width="90px" height="50px" src="https://cdn3.workadvantage.in/images/img/image/19648/c7088c558a.svg" alt="logo" target="_blank">
      </a>
   </li>
      <div style="float:left;">
        <li class="oddIcon"><a href="http://business.workadvantage.in/">Business Home</a></li>
        <li class="evenIconPrivacy"><a href="javascript:void(0)">Privacy Policy</a></li>
        <li class="oddIcon"><a href="javascript:void(0)">Refund Policy</a></li>
        <li class="evenIconTermsOfUse"><a href="javascript:void(0)">Terms of Use</a></li>
      </div>
    </ul>
    <span class="copyright" style="margin-top:10px;">© 2015 Advantage Club<sup>®</sup></span>
  </ul>
  </section>
</footer>